.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  /* background-color: #87CEEB; */
  background-image: url(./dard-cloud.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
}

.search-container,
.weather-container,
.favorite-container {
  width: 40%;
  margin: 30px;
  padding: 20px;
  border-radius: 8px;
  background-color: #87CEEB;
  box-shadow: 0 2px 4px rgba(209, 200, 200, 0.1);
}
